/* Testimonials.css */

.testimonials-section {
    position: relative;
    padding: 50px;
    text-align: center;
    background-color: #ffffff; /* Optional light background color */
  }
  
  .testimonial-card {
    display: flex;
    justify-content: flex-end;
  }
  
  .testimonial-card.reverse {
  
    flex-direction: row-reverse; /* Reverse the order for alternating cards */
    margin-top: -60px;
  }
  
  .testimonial-quote {
    margin-right: 30px;
    margin-left: 30px;
    width: 45%;
    text-align: left;
  }
  
  .testimonial-quote p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .quote-icon {
    font-size: 2rem;
    color: #0099ff;
    margin-right: 15px;
  }

  .quote-main{
    display: flex;
  }
  
  .author-name {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.2rem;
  }
  
  .author-title {
    font-size: 1rem;
    color: #666;
  }
  
  .testimonial-image {
    display: flex;
    width: 45%;
    justify-content:flex-start;
  }
  
  .testimonial-image img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Section Title */
  .section-title {
    font-size: 4rem;
    font-weight: bold;
    color: #003366;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .FirstImg{
    width: 25%;
  }
  
  .mobile-testimonial-card{
    display: none;
  }
  /* Responsive Design for Mobile */
  @media screen and (max-width: 768px) {
    .testimonial-card {
      flex-direction: column;
      text-align: center;
    }
    .mobile-testimonial-card{
      flex-direction: column;
      text-align: center;
      display: block;
    }
    .testimonial-quote, .testimonial-image ,.mobile-testimonial-quote, .mobile-testimonial-image {
      width: 100%;
    }

  
    .testimonial-quote, .mobile-testimonial-quote {
      margin-bottom: 20px;
      margin-right: 0px;
      margin-left: 0px;
      text-align: left;
    }
  
    .testimonial-image img {
      width: 60%;
    }

    .mobile-testimonial-image img {
      width: 60%;
    }
  
    .section-title {
      font-size: 1.8rem;
    }

    .testimonial-card.reverse {
      display: none;
    }
    .quote-main.second{
      width: 100%;
    }
    .FirstImg{
      width: 100%;
    }
  }
  